
ContactsIntegration/.vs/ContactsIntegration/config/applicationhost.config
ContactsIntegration/.vs/ContactsIntegration/v16/.suo
EDRMSIntegration/EDRMSIntegration/obj/Debug/EDRMSIntegration.csprojAssemblyReference.cache
EDRMSIntegration/Harness/obj/x86/Debug/Harness.csprojAssemblyReference.cache
HRC.PowerBuilderContacts/obj/Debug/HRC.PowerBuilderContacts.csprojAssemblyReference.cache
HRC.OzoneContacts/obj/Debug/HRC.OzoneContacts.csprojAssemblyReference.cache
HRC.Framework/obj/Debug/HRC.Framework.csprojAssemblyReference.cache
HRC.Contacts/obj/Debug/HRC.Contacts.csprojAssemblyReference.cache
EDRMSIntegration/EDRMSIntegration/obj/Debug/EDRMSIntegration.csprojAssemblyReference.cache
EDRMSIntegration/Harness/obj/x86/Debug/Harness.csprojAssemblyReference.cache
ContactsIntegration/ContactsIntegration/ContactsIntegration.csproj
ContactsIntegration/ContactsIntegration/ContactsIntegration.csproj.user
ContactsIntegration/ContactsIntegration/obj/Debug/ContactsIntegration.csprojAssemblyReference.cache
ContactsIntegration/ContactsIntegration/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.dll
*.pdb
*.exe
*.vsidx
ContactsIntegration/.vs/ContactsIntegration/v17/.suo
